.idea/
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
test/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.csv
*.xlsx

*.log

# user identify
data_process.py

# Dependency directories (remove the comment below to include it)
vendor/
log/
tools/
logs/